.projev-selector
  ol
    list-style-type none
    margin 0px
    padding 0px
    float left
    width 100%
    position relative
    height 50px
    opacity 0.2
    transition opacity 0.4s
    li
      box-sizing content-box
      display block
      width 13px
      height 13px
      position absolute
      .point
        position absolute
        top 3px
        left 3px
        width 7px
        height 7px
        border-radius 50%
        transition opacity 0.4s, transform 0.2s
      .point.gs
        opacity 0.8
      &:hover
        cursor pointer
        .point
          transform scale(2)
    &:hover
      opacity 1
      .point.gs
        opacity 0
