.projev-selector
  ol
    list-style-type none
    margin 0px
    padding 0px
    float left
    width 970px
    position absolute
    height 90px
    opacity 0.2
    transition opacity 0.4s
    li
      box-sizing content-box
      display block
      width 14px
      height 90px
      top 0px
      position absolute
      transition top 0.2s
      .point
        box-sizing content-box
        position absolute
        top 3px
        left 3px
        width 7px
        height 7px
        border-radius 50%
        transition opacity 0.4s, transform 0.2s, height 0.4s
        &.gs
          opacity 0.8
      &:hover
        cursor pointer
        .hover-point
          top -10px
      &.uhde
        .point
          top 14px
        &:hover .hover-point
          top 5px !important
    &:not(:hover)
      .point.color
        height 7px !important
    &:hover
      opacity 1
      background white
      .point.gs
        opacity 0
      .point.color
        border-radius 2px
      .hover-point
        position absolute
        top 3px
        width 7px
        height 14px
        left 3px
        border-radius 2px
        transition top 0.2s
      li.uhde
        top 38px
        .hover-point
          top 18px
  .popisky
    height 20px
    position relative
    opacity 0
    transition opacity 0.4s
    z-index 2
    .popisek
      position absolute
      text-transform uppercase
      font-size 0.72em
      color #6
      &:nth-child(1)
        left 3px
        width 67px
        text-align center
      &:nth-child(2)
        left 74px
      &:nth-child(3)
        left 137px
        width 157px
        text-align center
      &:nth-child(4)
        width 82px
        left 301px
        text-align center
      &:nth-child(5)
        left 391px
        width 216px
        text-align center
      &:nth-child(6)
        left 615px
        width 37px
        text-align center
      &:nth-child(7)
        left 674px
        width 142px
        text-align center
      &:nth-child(8)
        left 824px
        width 142px
        text-align center
      &:nth-child(9)
        right -14px
        text-align right
      &:nth-child(10)
        z-index 2
        top 110px
        left 0px
      &:nth-child(11)
        top 100px
        left 660px
  &:hover .popisky
    opacity 1

